.circle {
    width: 20px;
    height: 20px;
    border: solid 1px black;
    position: absolute;
    border-radius: 50%;
}

.bollocks {
    height: 500px;
    width: 500px;
    background-color: black;
}

#test {
    height: 200px;
    width: 200px;
    transition: width 2s, height 5s;
    background-color: pink;
}

#test:hover {
    height: 750px;
    width: 750px;
}